.intro {
  width: calc(100% - 100px*2);
  max-width: 984px;
  padding-bottom: 92px;
  margin: 0 auto;
}


@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 24px 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 16px 64px;
  }
}